.row
  .col-md-4.col-xs-4
    = link_to root_path do 
      %img.img-responsive.logo{:src => "/logo.min.png"}
  .col-md-8.col-xs-8
    %h2 Компания Век
    %h4 8 (962) 333-77-22
.map.hidden-xs
  %img.img-responsive{:src => "/map.png"}
.sidebar_icons.hidden-xs
  - @icons.each do |i|
    %a{:href => "#{i.url}"}
      %i{:class => "#{i.icon}"}

.sidebar_footer.hidden-xs 
  %p 2015 Компания ВЕК | Сделано в 7 утра

