.row.fluid
  .col-md-4
    = link_to root_path do 
      %img.img-responsive.logo{:src => "/logo.min.png"}
  .col-md-8
    %h2 Компания 'Век'
    %h4 8 924 529 11 02 
    %h4 Чичерина 6
.map
  %img.img-responsive{:src => "/map.png"}

