.panel.panel-default.menu_left
  .list-group
    %a.list-group-item{:href => '/backend'} 
      %i.fa.fa-fw.fa-dashboard 
      Информация
    

.panel.panel-default.menu_left
  .panel-heading
    %i.fa.fa-fw.fa-bookmark-o
    Контент
  .list-group
    %a.list-group-item{:href => '/backend/pages'} 
      %i.fa.fa-fw.fa-inbox 
      Страницы 
  .list-group
    %a.list-group-item{:href => '/backend/tabs'} 
      %i.fa.fa-fw.fa-inbox 
      Табы на страницах

.panel.panel-default.menu_left
  .panel-heading
    %i.fa.fa-fw.fa-bookmark-o
    Работа
  .list-group
    %a.list-group-item{:href => '/backend/orders'} 
      %i.fa.fa-fw.fa-inbox 
      Заявки со страниц 
