/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require redactor-rails
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,500italic,700,700italic,900,900italic&subset=latin,cyrillic);
@import 'bootstrap';
@import 'font-awesome';
 @import "abracadabra-scss";

.map {
  min-height: 450px;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 0;
}

.menu_left {
  a {
    font-size: 13px;
  }
}

.content {
  padding: 0;
  section {
    padding: 25px;
  }
}

.page_tabs {
	width: 33%;
	float: left;
	padding: 5px;
}

.page_cover {
	img {
		width: 100%;
	}
	width: 33%;
	float: left;
}

.page_heading {
  background-color: #333;
  color: #fafafa;
  padding: 15px;
  margin: 0;
}

.fixed {
        position: fixed;
        height: 100%;
}

.sidebar {
    background-color: #333;
    color: #fafafa;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
    h2 {
      font-size: 23px;
    }
    h4 {
      line-height: 10px;
    }
}



@media screen and (max-width: 650px) {
  
  .fixed {
        position: relative;
        min-height: 100%;
  }

  .sidebar {
     h2 {
        font-size: 18px;
     }
     h4 {
        font-size: 14px;
     }
  }

}


.logo {
	width: 120px;
	padding-top: 10px;
}

.map {
	width: 100%;
	margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 3px;
	img {
       border-radius: 3px;
	}
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  /*margin: 10px 1%;*/
  min-width: 320px;
  max-height: 360px;
  width: 50%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
  height: 320px;
}


@media screen and (max-width: 650px) {
   .grid figure {
     width: 100%;
  }
}


.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  position: relative;
  top: 220px;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*-----------------*/
/***** Selena *****/
/*-----------------*/

figure.effect-selena {
  background: #fff;
}

figure.effect-selena img {
  opacity: 0.95;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

figure.effect-selena:hover img {
  -webkit-transform: scale3d(0.95,0.95,1);
  transform: scale3d(0.95,0.95,1);
}

figure.effect-selena h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}

figure.effect-selena p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: perspective(1000px) rotate3d(1,0,0,90deg);
  transform: perspective(1000px) rotate3d(1,0,0,90deg);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

figure.effect-selena:hover h2 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-selena:hover p {
  opacity: 1;
  -webkit-transform: perspective(1000px) rotate3d(1,0,0,0);
  transform: perspective(1000px) rotate3d(1,0,0,0);
}

.sidebar_icons {
  padding-bottom: 10px;
   a {
      i {
          font-size: 18px;
          color: #fff;
          margin-right: 2px;
          &:hover {
            color: #348FB3;
          }
      }
   }
}

.fix {
  position: absolute;
  width: 100%;
  z-index: 9000;
  text-align: center;
  background-color: #333;
  color: #fafafa;
  font-weight: bold;
  font-size: 20px;
}

.wdth {
  width: 100%;
}

.nav-tabs {
  li {
    a {
      color: #333;
      font-weight: bold;
    }
  }
}

.products_section {
    max-height: 500px;
}

.mobile_nav {
    background-color: #333;
    padding: 15px;
    color: #fff;
    img {
      width: 80px !important;
    }
}