%html{:lang => "ru"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Компания Век
    %meta{:content => "", :name => "description"}/
    %link{:href => "img/favicon/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "img/favicon/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "img/favicon/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "img/favicon/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    .container-fluid
      .row
        .col-lg-4.col-md-4.col-sm-4.col-xs-12.sidebar.fixed
          = render 'client/sidebar'
        .col-lg-8.col-lg-offset-4.col-md-8.col-sm-8.col-xs-12.content  
          = yield
    /[if lt IE 9]
      <script src="libs/html5shiv/es5-shim.min.js"></script>
      <script src="libs/html5shiv/html5shiv.min.js"></script>
      <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
      <script src="libs/respond/respond.min.js"></script>
